crowdin.yaml
.vscode
build/*
.forbuild/*
.sonar/*
.sonarl int/*
log.txt
env.json
oscript_modules/
*.ospx
*.epf
ConfigDumpInfo.xml
ServiceBases/
tools/Allure/
tools/HTML/
tools/jUnit/
tools/Markdown/
tools/ScreenShotsTest/
*.zip
*.7z
*.tar.gz
*.tar.bz2
*.tar
allure-report/
.vagrant
*.log
tools/JSON/env.json.file
opm-metadata.xml
lib.config
.scannerwork/
tools/VideoTools/FrameShow.exe
tools/VideoTools/KeyboardType.exe
tools/VideoTools/MouseMove.exe
doc/linux-private.md
